
<div id="footer">
  <div class="col-md-4">
    <address>
      <h4><a href="mailto:webmaster@example.com">Mr Furrier</a></h4>
      <a href="tel:555-555-1212">555-555-1212</a><br>
      431 E 9th Street<br>
      Suite 17<br>
      New York, New York
    </address>
    <p>
      Copyright © 2016 Mr Furrier
    </p>
  </div>
  <div class="col-md-4">

  </div>
  <div class="col-md-4">
    <dd>Built with pride in Manhattan by</dd>
    <a herf="http://www.patrickarsh.io"> Patrick Karsh Design & Development</a><br>
    <dd>A Veteran Owned Business</dd>
  </div>
</div>
